<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
      }
      .content {
        text-align: center;
      }
    </style>
  </head>
  <body>

    <div class="content-container">
      <div class="content">
        <p style="font-size: 18px; font-weight: 700">
          Tanvir Hossan Ramim<br />
          B.Sc. in Computer Science & Engineering (CSE)<br />
          Full Stack Developer
        </p>
        <p style="text-align: center">
          I have experience in developing various types of web applications,<br />
          including single and multi e-commerce platforms, online exam-taking
          <br />
          systems, online course platforms, and subscription selling
          websites.<br />
        </p>
      
      </div>
    </div>
  </body>
</html>
